
		<header class="masthead">

			{% include navigation.html %}

		</header>

		<section class="about-me">

			<div class="container">

				<img src="{{ "/assets/images/binarymoon-avatar.png" | relative_url }}" class="avatar" alt="Ben's online avatar" width="150" height="150" />

				<h1>Ben Gillbanks</h1>

				<p>Father, web designer, video gamer, and fully grown man. By day I look after my small family. By night I develop WordPress things - and occassionally make &amp; play video games.</p>

			</div>

		</section>
