.about-me {

	.container {

		border: 1rem solid $canvas-color;
		padding: ( $grid-line-height * 2 ) ( $grid-gutter * 2 );
		max-width: $grid-total-width / 2;
		background: $canvas-white;

	}

	.avatar {

		border: 1rem solid $canvas-white;
		border-radius: 10rem;
		max-width: $grid-gutter * 4;
		max-height: $grid-gutter * 4;
		position: absolute;
		top: $grid-line-height / 2;
		left: $grid-gutter * -1.75;

	}

	p {

		margin-left: $grid-gutter;

	}

	&:after {

		content: '';
		background: $canvas-color;
		position: absolute;
		right: 0;
		bottom: $grid-line-height * -10;
		left: 40%;
		height: $grid-line-height * 20;
		z-index: -1;
		opacity: 0.25;

	}

	@include for-tablet {

		padding-top: $grid-line-height * 4;

		.container {

			padding: ( $grid-line-height * 3 ) ( $grid-gutter ) ( $grid-line-height * 2 ) ( $grid-gutter );

		}

		.avatar {

			top: $grid-line-height * -4;
			left: $grid-gutter;
		}

	}

}
