.social {

	.profile {

		margin-bottom: $grid-line-height * 4;

		svg {

			float: left;
			width: $grid-gutter * 3.5;
			height: $grid-gutter * 3.5;
			margin-top: -1rem;

		}

		h3 {

			@include modular-scale( alpha );
			font-weight: 100;
			margin: 0;
			display: inline-block;

			a {

				display: block;

			}

		}

		@include for-tablet {

			svg {

				width: $grid-gutter * 2;
				height: $grid-gutter * 2;
				margin-top: 0;

			}

			h3 {

				@include modular-scale( beta );

			}

		}

		@include for-phone {

			svg {

				width: 100%;
				margin: 0 0 ( $grid-line-height / 2 ) 0;

			}

			text-align: center;


		}

	}

}
