.timeline {

	padding-top: $grid-line-height * 10;
	margin-top: $grid-line-height * -10;
	background: $canvas-color;

	.container {

		@include clear;

		.project {

			clear: both;
			margin-top: $grid-line-height * -3;
			position: relative;
			padding-right: 58%;
			background:url( ../images/timeline-branch.svg ) no-repeat top center;
			min-height: $grid-line-height * 5;

			&:nth-child( even ) {

				padding-left: 58%;
				padding-right: 0;

				&:after {

					right: auto;
					left: $grid-gutter * -2;
				}

			}

			&:nth-child( 1 ) {

				margin-top: 0;

			}

			&:last-child {

				padding-bottom: $grid-line-height * 4;
				margin-bottom: $grid-line-height * -4;

			}

			.content {

				margin-left: $grid-gutter;

			}

			h3 {

				margin: 0;

			}

			h4 {

				font-weight: 100;

			}

			@include for-tablet {

				background-position: left top;
				margin-top: 0;
				padding-bottom: $grid-line-height * 2;

				&:nth-child( odd ),
				&:nth-child( even ) {

					margin-top: 0;
					padding-left: $grid-gutter * 2;
					padding-right: 0;

				}

			}

		}

	}
}
