body {

	background: $canvas-white;

}

a {

	color: $canvas-blue;

	&:hover {

		text-decoration: none;

	}

}

h1, h2, h3, h4, h5, h6 {

	font-weight: bold;

}

.container {

	@include container;

	p:last-child {

		margin-bottom: 0;

	}

}

section {

	padding: ( $grid-line-height * 2 ) ( $grid-gutter * 2 );
	position: relative;

}

.button {

	width: 100%;

}

hr {

	max-width: $grid-gutter;
	border-width: $border-width;
	border-color: $canvas-red;

}

svg {

	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: $grid-gutter / 4;
	vertical-align: middle;
	color: $canvas-red;
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;

}
