
h1,
h2 {

	font-size: 2.618rem;

}

h3 {

	font-size: 1.618rem;

}

p {

	font-size: 1rem;
	margin: 0 0 $margin 0;

}

.meta {

	font-size: 0.618rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;

}

h1, h2, h3 {

	font-weight: 900;
	line-height: 1.2;
	margin: 0 0 $margin 0;

}
