<section class="contact">

	<header>
		<h2>Get in touch</h2>
		<p>For those times when social media isn't good enough 😀</p>
	</header>

	<div class="container">

		<form class="formspree" method="POST" action="//formspree.io/">

			<label>
				<span>Message</span>
				<textarea name="message" rows="6" required=""></textarea>
			</label>

			<label>
				<span>Your Name</span>
				<input type="text" name="name" placeholder="Jane Smith" required="">
			</label>

			<label>
				<span>Your Email Address</span>
				<input type="email" name="_replyto" placeholder="name@domain.com" required="">
			</label>

			<input type="submit" value="Send" class="button">

			<input type="hidden" name="_subject" value="Ben Gillbanks Contact - ">
			<!-- <input type="hidden" name="_next" value="//prothemedesign.com/contact/thanks/"> -->
			<input type="text" name="_gotcha" style="display:none">
		</form>

	</div>

</section>
